/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body {
     font-family: "Comic Sans MS", "Comic Sans", cursive;
     background: #060B0D;
     background: -webkit-linear-gradient(90deg, rgba(6, 11, 13, 1) 25%, rgba(76, 12, 166, 1) 78%, rgba(0, 0, 139, 1) 100%);
     background: -moz-linear-gradient(90deg, rgba(6, 11, 13, 1) 25%, rgba(76, 12, 166, 1) 78%, rgba(0, 0, 139, 1) 100%);
     background: linear-gradient(90deg, rgba(6, 11, 13, 1) 25%, rgba(76, 12, 166, 1) 78%, rgba(0, 0, 139, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#060B0D", endColorstr="#00008B", GradientType=1);
   }


   .site-header {
     display: flex; /* Enables flexbox layout */
     align-items: center; /* Vertically centers the image and content */
     justify-content: left; /* Pushes the left and right elements to the edges (optional, for navigation on right) */
     padding: 10px 0px; /* Add some spacing */
     background-color: transparent; /* Example background color */
     background-image: url("logo.jpg");
      background-size: 100% 100%;
   }

   .logo {
     /* Adjust image size as needed */
     width: 100px;
     height: auto;
     margin-right: 10px; /* Space between the image and the content */
   }
.logo img{
  border-radius: 50%;
}
   .header-content {
     /* Styles for the text/navigation container */
     display: flex;
     width: 100%;
     height: auto;

     flex-direction: column; /* Stacks H1 and NAV vertically */
   }
nav{
  display: flex;
  justify-content: space-between;
}
   nav a {
     display: flex;
     margin-right: 15px;
     text-decoration: none;
     color: #333;
     flex-direction: row;
   }

   header .main-nav ,header .right-nav{
  width: 100%;
   height: auto;
   line-height: 70px;
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: rgba(0, 0, 139, 0.58);
   display: flex;

  }

  header .main-nav li{
  float: left;
  }

  header .main-nav a , header .right-nav a{
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;

  text-decoration: none;
  }
  header .main-nav{
  float: left;
  justify-content: left;
  }
  header .right-nav{
  height: 70px;
  float: right;
  justify-content: right;
  }
   header{
     width: 100%;
     height: 140px;

   }
    /**
   #top{
     width: 100%;
     height: 140px


   }
   #top .logos{

   }

   #top .header-stuff{
     display: flex;
     flex-direction: row;

   }
   #top .header-text{
     align-items: center;
     display: flex;
     justify-content: left;
   }
   #top .header-bar{
     align-items: center;
     display: flex;
   }

   header .main-nav ,header .right-nav{
   width: 45%;
   height: auto;
   line-height: 70px;
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: #00008B;
   display: flex;

 }

 header .main-nav{
 float: left;
 justify-content: left;
}
header .right-nav{
height: 70px;
float: right;
justify-content: right;
}

header .main-nav li{
float: left;
}

header .main-nav a , header .right-nav a{
display: block;
color: white;
text-align: center;
padding: 0px 16px;

text-decoration: none;
}
/* */
header .main-nav a:hover {
  background-color: #8A2BE2;
}

section button:hover{
  background-color: #3A5BE4;
}
/**/
header .logo2 img{
  float: left;
  width: 10%;
  height: 100%;

}

h1 {
  color: white;
  -webkit-text-stroke: 2px black;
  text-align: center;
}
p {
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
}


h2 {
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 30px;
}
#hero{
  width: 100%;
  height: 600px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.4) 100%), /**/ url("ghost.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#hero .container{
  display: flex;
  align-items: center;
  height: 600px;
}

.hero-text{
  max-width: 470px;
}
.hero-date{
  font-size: 30px;
  font-weight: normal;
}
.hero-title{
  font-size: 70px;
  margin: 20px 0px;
  font-weight: normal;
  color: white;
  line-height: 1;
}
.btn-primary{
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 4.5px;
  background: purple;
  color: white;
  padding: 12px 22px;
  border: none;
  outline: none;
}
.container{
  max-width: 940px;
  margin: 0 auto;
}



#blog{
  margin-bottom: 50px;
}

#blog h2{
  font-weight: 200;
  font-size: 30px;
}

.blog-posts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}

.blog-post{
  width: 33.33%;
  padding: 0 5px;
  box-sizing: border-box;
  margin-bottom: 30px;
  background-color: inherit;
}

.blog-post img{
  width: 100%;
  height: 140px;
}

.blog-post .blog-post-date{
  font-size: 14px;
  margin-top: 12px;
}
.blog-post h3{
  font-size: 18px;
  color: white;
  letter-spacing: -0.4px;
  line-height: 1.4;
}
.blog-post .blog-post-description{
  font-size: 14px;
  line-height: 1.6;
}
.blog-post .blog-post-description a {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}
.blog-post .blog-post-description a:visited {
  color: red;
  text-decoration: underline;
  font-weight: bold;
}
.blog-post-show-more{
  text-align: right;
}




#GameReview{
  max-width: 940px;
  margin: 0 auto;
}
#GameReview .review{
max-width: 900px;
margin: 0 auto;

}
#GameReview .reviewView{
  display: flex;
  align-items: center;

}
.review{
  display: flex;
  flex-direction: column;

}

.reviewView{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.reviewView img{
  width: 900px;
  height: auto;
  float: left;
  margin: 0 20px 10px 0;
}

.review-text{
  width: 80%;
margin: 10px 20px;
}


p2 {
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
  text-align: center;
}
pre {
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
}
.sidebar{
  width: 50%;
  float: right;
}
.content{
  float: left;
  width: 45%;

  margin-right: 10px;
  margin-left: 10px;
}
iframe{
  display:block;
  margin: auto
}
input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;

}
.pongtext{
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
  text-align: left;
  margin-right: 50px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
