<head>
    <meta charset="utf-8">
    <title>Tim's Gaming Lounge</title>
    <style media="screen">
      body {
        background-color: #010011;
      }

      h1 {
        color: white;
        text-align: center;
      }
      p {
        color: white;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        font-size: 20px;
      }
      pre {
        color: white;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        font-size: 20px;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #00008B;
        display: flex;
        justify-content: center;
      }

      ul li {
        float: left;
      }

      ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      ul li a:hover {
        background-color: #8A2BE2;
      }
    </style>

  </head>
